.left{
    color: #fff;
    padding:8px;
    float: right ;
}
.siz{
    height: 45px;
}
.mid{
    background-color: #fff;

}
.big{
    background-color: rgb(223, 223, 223);
}
.ub{
    height: 100px;
}
.logo{
    height: 120px;
    float: right;
    padding: 10px;
}
.nav-item a{
    color: gray;
    text-decoration: none;
}
.nav-itm a{
    color: #fff;
    text-decoration: none;
    font-size: 80%;
}
.lft{
    margin-left: 20px;
}
.rt{
    padding-right: 40px;
    margin-left: 470px;
}
.crdp{
    padding: 2px;
    text-align: center;
    font-size: 30px;
}
.im{
    margin-bottom: 10px;
}
.crd{
    font-size:12px;
    padding-bottom:5px;
}
.cr{
    font-size:12px;
    padding-bottom: 0;
    margin: 0;
}
.sections{
    list-style: none;
    width:100%;
    
}
.sections li{
    display: block;
    float: left;
    width:27%;
    margin: 0;
    margin: 4px;
    margin-left:0;
    -webkit-box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
            -moz-box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
            box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
    
 
}
.orange{
    border-top:4px solid orange;
}
.blue{
    border-top:4px solid blue;
}
.red{
    border-top:4px solid red;
}
figcaption{
    text-align: center;
    
}
.sec{
    border:1px solid none;
}
.sections li p{
   text-align: center;
   font-size: 15px;
 
}
.pic{
    width: 100%;
    margin: 0;
    overflow: hidden;
    height:230px;
    padding-top: 25px;
    border-style: groove;
  
  
}
.pic img{
    width: 90%;
    height: 80%;
    transform: scale(1.1);
   
    
}

.foot{
    background-color: rgb(49, 49, 49);
    height: 100px;;
}
.foot p{
    text-align: center;
    padding:0;
    margin: 2px;
    padding-top:10px;
    font-size: 12px;
    color: #fff;
}
.c{
    height:150px;
    width:160px;
    -webkit-box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
    box-shadow: -1px 0px 29px 3px rgba(0, 0, 0, 0.29);
}

#pr{
    padding-top:50px;
}
.fb{
    float: right;
    height: 40px;
    padding:10px;
}